.failurecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 82vh;
}
.failureimage {
  width: 70%;
}
.failurebutton {
  height: 30px;
  padding: 7px;
  background-color: rgba(13, 43, 107, 0.842);
  color: white;
  border-radius: 6px;
  border-width: 0px;
}
